<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<style>
			input {width: 40px;height: 40px;}
			td{
				width: 150px;
				height: 50px;
				text-align:center; /*设置水平居中*/
			}
			.d1{background-color: #0000ff;}
			.d2{background-color: #00ff00;}
			.d3{background-color: #ff0000;}
			.d4{background-color: #00ff00;}
			.d5{background-color: #ff0000;}
			.d6{background-color: #0000ff;}
			.d7{background-color: #ff0000;}
			.d8{background-color: #0000ff;}
			.d9{background-color: #00ff00;}
		</style>

	</head>
	<body>
		<div align="center">
			<table>
			<tr>
				<td class="d1">
					<input type="checkbox" id="c11" ><input type="text" id="k11" /><span id="v11"></span>
				</td>
				<td class="d1">
					<input type="checkbox" id="c12" /><input type="text" id="k12" /><span id="v12"></span>
				</td>
				<td class="d1">
					<input type="checkbox" id="c13" /><input type="text" id="k13" /><span id="v13"></span>
				</td>
				<td class="d2">
					<input type="checkbox" id="c14" /><input type="text" id="k14" /><span id="v14"></span>
				</td>
				<td class="d2">
					<input type="checkbox" id="c15" /><input type="text" id="k15"/><span id="v15"></span>
				</td>
				<td class="d2">
					<input type="checkbox" id="c16" /><input type="text" id="k16"/><span id="v16"></span>
				</td>
				<td class="d3">
					<input type="checkbox" id="c17" /><input type="text" id="k17"/><span id="v17"></span>
				</td>
				<td class="d3">
					<input type="checkbox" id="c18" /><input type="text" id="k18"/><span id="v18"></span>
				</td>
				<td class="d3">
					<input type="checkbox" id="c19" /><input type="text" id="k19"/><span id="v19"></span>
				</td>
			</tr>
			<tr>
				<td class="d1">
					<input type="checkbox" id="c21" /><input type="text" id="k21"/><span id="v21"></span>
				</td>
				<td class="d1">
					<input type="checkbox" id="c22" /><input type="text" id="k22"/><span id="v22"></span>
				</td>
				<td class="d1">
					<input type="checkbox" id="c23" /><input type="text" id="k23"/><span id="v23"></span>
				</td>
				<td class="d2">
					<input type="checkbox" id="c24" /><input type="text" id="k24"/><span id="v24"></span>
				</td>
				<td class="d2">
					<input type="checkbox" id="c25" /><input type="text" id="k25"/><span id="v25"></span>
				</td>
				<td class="d2">
					<input type="checkbox" id="c26" /><input type="text" id="k26"/><span id="v26"></span>
				</td>
				<td class="d3">
					<input type="checkbox" id="c27" /><input type="text" id="k27"/><span id="v27"></span>
				</td>
				<td class="d3">
					<input type="checkbox" id="c28" /><input type="text" id="k28"/><span id="v28"></span>
				</td>
				<td class="d3">
					<input type="checkbox" id="c29" /><input type="text" id="k29"/><span id="v29"></span>
				</td>
			</tr>
			<tr>
				<td class="d1">
					<input type="checkbox" id="c31" /><input type="text" id="k31"/><span id="v31"></span>
				</td>
				<td class="d1">
					<input type="checkbox" id="c32" /><input type="text" id="k32"/><span id="v32"></span>
				</td>
				<td class="d1">
					<input type="checkbox" id="c33" /><input type="text" id="k33"/><span id="v33"></span>
				</td>
				<td class="d2">
					<input type="checkbox" id="c34" /><input type="text" id="k34"/><span id="v34"></span>
				</td>
				<td class="d2">
					<input type="checkbox" id="c35" /><input type="text" id="k35"/><span id="v35"></span>
				</td>
				<td class="d2">
					<input type="checkbox" id="c36" /><input type="text" id="k36"/><span id="v36"></span>
				</td>
				<td class="d3">
					<input type="checkbox" id="c37" /><input type="text" id="k37"/><span id="v37"></span>
				</td>
				<td class="d3">
					<input type="checkbox" id="c38" /><input type="text" id="k38"/><span id="v38"></span>
				</td>
				<td class="d3">
					<input type="checkbox" id="c39" /><input type="text" id="k39"/><span id="v39"></span>
				</td>
			</tr>
			<tr>
				<td class="d4">
					<input type="checkbox" id="c41" /><input type="text" id="k41"/><span id="v41"></span>
				</td>
				<td class="d4">
					<input type="checkbox" id="c42" /><input type="text" id="k42"/><span id="v42"></span>
				</td>
				<td class="d4">
					<input type="checkbox" id="c43" /><input type="text" id="k43"/><span id="v43"></span>
				</td>
				<td class="d5">
					<input type="checkbox" id="c44" /><input type="text" id="k44"/><span id="v44"></span>
				</td>
				<td class="d5">
					<input type="checkbox" id="c45" /><input type="text" id="k45"/><span id="v45"></span>
				</td>
				<td class="d5">
					<input type="checkbox" id="c46" /><input type="text" id="k46"/><span id="v46"></span>
				</td>
				<td class="d6">
					<input type="checkbox" id="c47" /><input type="text" id="k47"/><span id="v47"></span>
				</td>
				<td class="d6">
					<input type="checkbox" id="c48" /><input type="text" id="k48"/><span id="v48"></span>
				</td>
				<td class="d6">
					<input type="checkbox" id="c49" /><input type="text" id="k49"/><span id="v49"></span>
				</td>
			</tr>
				<tr>
				<td class="d4">
					<input type="checkbox" id="c51" /><input type="text" id="k51"/><span id="v51"></span>
				</td>
				<td class="d4">
					<input type="checkbox" id="c52" /><input type="text" id="k52"/><span id="v52"></span>
				</td>
				<td class="d4">
					<input type="checkbox" id="c53" /><input type="text" id="k53"/><span id="v53"></span>
				</td>
				<td class="d5">
					<input type="checkbox" id="c54" /><input type="text" id="k54"/><span id="v54"></span>
				</td>
				<td class="d5">
					<input type="checkbox" id="c55" /><input type="text" id="k55"/><span id="v55"></span>
				</td>
				<td class="d5">
					<input type="checkbox" id="c56" /><input type="text" id="k56"/><span id="v56"></span>
				</td>
				<td class="d6">
					<input type="checkbox" id="c57" /><input type="text" id="k57"/><span id="v57"></span>
				</td>
				<td class="d6">
					<input type="checkbox" id="c58" /><input type="text" id="k58"/><span id="v58"></span>
				</td>
				<td class="d6">
					<input type="checkbox" id="c59" /><input type="text" id="k59"/><span id="v59"></span>
				</td>
			</tr>
				<tr>
				<td class="d4">
					<input type="checkbox" id="c61" /><input type="text" id="k61"/><span id="v61"></span>
				</td>
				<td class="d4">
					<input type="checkbox" id="c62" /><input type="text" id="k62"/><span id="v62"></span>
				</td>
				<td class="d4">
					<input type="checkbox" id="c63" /><input type="text" id="k63"/><span id="v63"></span>
				</td>
				<td class="d5">
					<input type="checkbox" id="c64" /><input type="text" id="k64"/><span id="v64"></span>
				</td>
				<td class="d5">
					<input type="checkbox" id="c65" /><input type="text" id="k65"/><span id="v65"></span>
				</td>
				<td class="d5">
					<input type="checkbox" id="c66" /><input type="text" id="k66"/><span id="v66"></span>
				</td>
				<td class="d6">
					<input type="checkbox" id="c67" /><input type="text" id="k67"/><span id="v67"></span>
				</td>
				<td class="d6">
					<input type="checkbox" id="c68" /><input type="text" id="k68"/><span id="v68"></span>
				</td>
				<td class="d6">
					<input type="checkbox" id="c69" /><input type="text" id="k69"/><span id="v69"></span>
				</td>
			</tr>
				<tr>
				<td class="d7">
					<input type="checkbox" id="c71" /><input type="text" id="k71"/><span id="v71"></span>
				</td>
				<td class="d7">
					<input type="checkbox" id="c72" /><input type="text" id="k72"/><span id="v72"></span>
				</td>
				<td class="d7">
					<input type="checkbox" id="c73" /><input type="text" id="k73"/><span id="v73"></span>
				</td>
				<td class="d8">
					<input type="checkbox" id="c74" /><input type="text" id="k74"/><span id="v74"></span>
				</td>
				<td class="d8">
					<input type="checkbox" id="c75" /><input type="text" id="k75"/><span id="v75"></span>
				</td>
				<td class="d8">
					<input type="checkbox" id="c76" /><input type="text" id="k76"/><span id="v76"></span>
				</td>
				<td class="d9">
					<input type="checkbox" id="c77" /><input type="text" id="k77"/><span id="v77"></span>
				</td>
				<td class="d9">
					<input type="checkbox" id="c78" /><input type="text" id="k78"/><span id="v78"></span>
				</td>
				<td class="d9">
					<input type="checkbox" id="c79" /><input type="text" id="k79"/><span id="v79"></span>
				</td>
			</tr>
				<tr>
				<td class="d7">
					<input type="checkbox" id="c81" /><input type="text" id="k81"/><span id="v81"></span>
				</td>
				<td class="d7">
					<input type="checkbox" id="c82" /><input type="text" id="k82"/><span id="v82"></span>
				</td>
				<td class="d7">
					<input type="checkbox" id="c83" /><input type="text" id="k83"/><span id="v83"></span>
				</td>
				<td class="d8">
					<input type="checkbox" id="c84" /><input type="text" id="k84"/><span id="v84"></span>
				</td>
				<td class="d8">
					<input type="checkbox" id="c85" /><input type="text" id="k85"/><span id="v85"></span>
				</td>
				<td class="d8">
					<input type="checkbox" id="c86" /><input type="text" id="k86"/><span id="v86"></span>
				</td>
				<td class="d9">
					<input type="checkbox" id="c87" /><input type="text" id="k87"/><span id="v87"></span>
				</td>
				<td class="d9">
					<input type="checkbox" id="c88" /><input type="text" id="k88"/><span id="v88"></span>
				</td>
				<td class="d9">
					<input type="checkbox" id="c89" /><input type="text" id="k89"/><span id="v89"></span>
				</td>
			</tr>
				<tr>
				<td class="d7">
					<input type="checkbox" id="c91" /><input type="text" id="k91"/><span id="v91"></span>
				</td>
				<td class="d7">
					<input type="checkbox" id="c92" /><input type="text" id="k92"/><span id="v92"></span>
				</td>
				<td class="d7">
					<input type="checkbox" id="c93" /><input type="text" id="k93"/><span id="v93"></span>
				</td>
				<td class="d8">
					<input type="checkbox" id="c94" /><input type="text" id="k94"/><span id="v94"></span>
				</td>
				<td class="d8">
					<input type="checkbox" id="c95" /><input type="text" id="k95"/><span id="v95"></span>
				</td>
				<td class="d8">
					<input type="checkbox" id="c96" /><input type="text" id="k96"/><span id="v96"></span>
				</td>
				<td class="d9">
					<input type="checkbox" id="c97" /><input type="text" id="k97"/><span id="v97"></span>
				</td>
				<td class="d9">
					<input type="checkbox" id="c98" /><input type="text" id="k98"/><span id="v98"></span>
				</td>
				<td class="d9">
					<input type="checkbox" id="c99" /><input type="text" id="k99"/><span id="v99"></span>
				</td>
			</tr>
			<tr>
				<td><button onclick="test()">开始</button></td>
				<td><button onclick="suan()">计算</button></td>
				<td><button onclick="suoding()">锁定</button></td>
				<td><button onclick="qingchu()">清除</button></td>
				<td><button onclick="jisuan4()">计算span</button></td>
				<td><button onclick="tianru()">one</button></td>
				<td><button onclick="tianru2()">行</button></td>
				<td><button onclick="tianru3()">列</button></td>
				<td><button onclick="tianru4()">块</button></td>
			</tr>
		</table>
			<script src="../static/js/jquery.min.js" ></script>
			<script>
                $(function(){
                    $("input[type='text']").each(function(index){
                        $(this).attr("onfocus","clean(this);");
                    });
                });
                function clean(obj){
                    var a = "#v"+$(obj).attr("id").substring(1)
                    $(a).html("");
                }
			</script>
		<script>
			function suoding(){
				for(var i=1;i<10;i++){
					for(var j=1;j<10;j++){
						var key = $("#k"+i+j).val();
						if(key!=''){
							$("#c"+i+j).attr("checked","true"); 
						}
					}
				}
			}
			function qingchu(){
					for(var i=1;i<10;i++){
						for(var j=1;j<10;j++){
							var key = $("#c"+i+j).attr('checked');
							if(!key){
								$("#k"+i+j).val(''); 
								$("#v"+i+j).html(''); 
							}
						}
					}
			}
			function test(){
//				var a = $("#k11").parent().attr('class');;
//				alert(a);
//				console.log(a);
				var a= $(".d1").find("input[type=text]");
				a.each(function(){
					console.log($(this).val())
				});
			}
			function jisuan(){
				for(var i=1;i<10;i++){
					for(var j=1;j<10;j++){
						//console.log('k'+i+j);
						var key=document.getElementById("k"+i+j);
						if(key.value==""){
							var arr = new Array();
							var className = key.parentElement.className;
							var a=document.getElementsByClassName(className);
							for(var t=0;t<10;t++){
								var u=$(a[t]).find("input").val();
								if(u!=""){
									arr.push(u);
								}
							}
							for(var a=1;a<10;a++){
								var keytemp1=document.getElementById("k"+i+a);
								var keytemp2=document.getElementById("k"+a+j);
								if(keytemp1.value!=""){
									arr.push(keytemp1.value);
								}
								if(keytemp2.value!=""){
									arr.push(keytemp2.value);
								}
							}
							var tishi = "";
							for(var c=1;c<10;c++){
								var falg = true;
								for(var d=0;d<arr.length;d++){
									if(arr[d]==c){falg = false;}
								}
								if(falg){
									tishi+=c;
								}
							}
							var tishixinxi=document.getElementById("v"+i+j);
							tishixinxi.innerHTML=tishi;
						}
					}
				}
			}
			
			function jisuan2(){
				var sum = 0;
				for(var i=1;i<10;i++){
					for(var j=1;j<10;j++){
						var now = $("#k"+i+j);
						var nowValue = now.val();
						if(nowValue==''){						
							var notNum = new Array();
							//行
							for(var h=1;h<10;h++){
								var v = $("#k"+i+h).val();
								if(v!=''){notNum.push(v);}
							}
							//列
							for(var l=1;l<10;l++){
								var v = $("#k"+l+j).val();
								if(v!=''){notNum.push(v);}
							}
							//块
							var cls = now.parent().attr('class');
							var kuai = $("."+cls).find("input[type=text]");
							kuai.each(function(){
								var v1 = $(this).val();
								if(v1!=''){notNum.push(v1);}
							});
							//提示
							var tishi = "";
							for(var c=1;c<10;c++){
								var falg = true;
								for(var d=0;d<notNum.length;d++){
									if(notNum[d]==c){falg = false;}
								}
								if(falg){
									tishi+=c;
								}
							}
							var tishixinxi=document.getElementById("v"+i+j);
							tishixinxi.innerHTML=tishi;
						}else{
							sum++;
						}
					}
				}
				return sum==81;
			}
			
			function tianru(){
				var reust=false;
				for(var i=1;i<10;i++){
					for(var j=1;j<10;j++){
						var key = '#v'+i+j;
						if($(key).html().length ==1){
							$("#k"+i+j).val($(key).html());
							$(key).html('');
							reust=true;
						}
					}
				}
				return reust;
			}
			function jisuan3(){
				var falg = false;
				do{
					if(jisuan2()){
						falg = true;
						alert("完成");
					}
				}while(tianru());
				return falg;
			}
			function jisuan4(){
				while(true){
					if(jisuan3()){
						break;
					}else if(tianru2()){
						continue;
					}else if(tianru2()){
						continue;
					}else if(tianru4()){
						continue;
					}else{
						alert("无法自动计算");
						break;
					}
					
				}
				
				
			}
			//行
			function tianru2(){
				var reust=false;
				for(var i=1;i<10;i++){
					var hang = "";
					for(var j=1;j<10;j++){
						var val = "#v"+i+j;
						if($(val).html()!=''){
							hang+= $(val).html();
						}
					}
					var falg = '';
					for(var t=1;t<10;t++){
						var m = t+'';
						var index = hang.indexOf(m);
						if(index >0){
							index = hang.indexOf(m,index+1);
							if(index == -1){
								falg = m;
							}
						}
					}
					if(falg!=''){
						for(var j=1;j<10;j++){
							var val2 = "#v"+i+j;
							if($(val2).html()!=''){
								var val3 = $(val2).html()+'';
								var b = val3.indexOf(falg);
								if(b>=0){
									$(val2).html('');
									$("#k"+i+j).val(falg);
									reust=true;
								}
							}
						}
					}
				}
				return reust;
			}
			//列
			function tianru3(){
				var reust=false;
				for(var i=1;i<10;i++){
					var hang = "";
					for(var j=1;j<10;j++){
						var val = "#v"+j+i;
						if($(val).html()!=''){
							hang+= $(val).html();
						}
					}
					var falg = '';
					for(var t=1;t<10;t++){
						var m = t+'';
						var index = hang.indexOf(m);
						if(index >0){
							index = hang.indexOf(m,index+1);
							if(index == -1){
								falg = m;
							}
						}
					}
					if(falg!=''){
						for(var j=1;j<10;j++){
							var val2 = "#v"+j+i;
							if($(val2).html()!=''){
								var val3 = $(val2).html()+'';
								var b = val3.indexOf(falg);
								if(b>=0){
									$(val2).html('');
									$("#k"+j+i).val(falg);
									reust=true;
								}
							}
						}
					}
				}
				return reust;
			}
			//块
			function tianru4(){
				var reust=false;
				for(var a=1;a<10;a++){
					var b= $(".d"+a).find("span");
					var hang = '';
					b.each(function(){
						var d =$(this).html();
						if(d!=''){hang+=d;}
					});
					var falg = '';
					for(var t=1;t<10;t++){
						var m = t+'';
						var index = hang.indexOf(m);
						if(index >=0){
							index = hang.indexOf(m,index+1);
							if(index == -1){
								falg = m;
							}
						}
					}
					if(falg!=''){
						b.each(function(){
							var d =$(this).html();
							if(d!=''){
								var h = d.indexOf(falg);
								if(h>-1){
									h = d.indexOf(falg,h+1)
									if(h==-1){
										$(this).html('');
										$(this).parent().find("input").val(falg);
										reust=true;
									}
								}
							}
						});
					}
				}
				return reust;
			}
			function biaoshi(){
				for(var i=1;i<10;i++){
					for(var j=1;j<10;j++){
						var key = '#k'+i+j;
						if($(key).val()!=''){
							
						}
					}
				}
			}
			function suan(){
				fun1();
				if(tianru2()){
					fun1();
				}
				if(tianru3()){
					fun1();
				}
				if(tianru4()){
					fun1();
				}
			}
			function fun1(){
				jisuan();
				while(tianru()){
					jisuan();
				}
			}
		</script>
		</div>
	</body>
</html>
