<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="../css/mui.min.css">-->
    <title>我的信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link th:href="@{/css/mui.min.css}" rel="stylesheet" type="text/css" />
    <style>
        h5 {
            margin: 5px 7px;
        }
    </style>
</head>
<body>
<form id="myForm" class="mui-input-group" action="/person/save" method="post">
    <input type="hidden" name="id" th:value="${person.id}">
    <div class="mui-input-row">
        <label>姓名：</label>
        <input type="text" name="name" placeholder="姓名" th:value="${person.name}">
    </div>
    <div class="mui-input-row">
        <label>手机：</label>
        <input type="text" name="tel" placeholder="手机" th:value="${person.tel}">
    </div>
    <div class="mui-input-row">
        <label>地址：</label>
        <input type="text" name="addr" placeholder="用于送货" th:value="${person.addr}">
    </div>

    <div class="mui-button-row">
        <button type="button" class="mui-btn mui-btn-primary" onclick="submit();">确认</button>&nbsp;&nbsp;
        <!--<button type="button" class="mui-btn mui-btn-danger" onclick="backToView();">取消</button>-->
    </div>
</form>

<script th:src="@{/js/jquery.min.js}"></script>
<script>
    function submit() {
        $("#myForm").submit();
    }
    function backToView() {
        window.location="/person/view"
    }
</script>
</body>
</html>